<%= bootstrap_form_for(@tv_show, label_errors: false) do |f| %>
  <p>
    <%= f.text_field :title,
			:required => true,
			:size=>"50"
	%>
  </p>
  <p>
    <%= f.url_field :url,
			label: "URL",
			:size=>"50",
			:required => true
	%>
  </p>
  <p>
    <%= f.select :rating, 
			[5, 4, 3, 2, 1], 
			:required => true,
			:include_blank => true
	%>
  </p>
  <p>
    <%= f.date_field :consumed_on,
			label: "Consumed On",
			max: Date.today,
			:required => true
	%>
  </p>
  <p>
    <%-# Only shows a "delete" button if the show exists. -%>
    <% if @tv_show.id.blank? == false %>
      <%= link_to 'Delete Show',
                @tv_show,
                method: :delete,
                data: { confirm: 'Sounds dicey! You sure?' }
        %>
    <% end %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
