<%= bootstrap_form_for(@blog_post, label_errors: true) do |f| %>
  <%= f.alert_message "Fix the errors below:" %>
  <p>
    <%= f.text_field :title,
			:required => true,
			:size=>"50"
	%>
  </p>
  <p>
    <%= f.text_area :body,
			label: "Body",
			:required => true
	%>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
  <p>
    <%-# Only shows a "delete" button if the post already exists. -%>
    <% if @blog_post.id.blank? == false %>
      <%= link_to 'Delete Post',
                @blog_post,
                method: :delete,
                data: { confirm: 'Sounds dicey! You sure?' }
        %>
    <% end %>
  </p>
<% end %>
