<%= bootstrap_form_for(@blog_post, label_errors: false) do |f| %>
  <p>
    <%= f.text_field :title,
			:required => true,
			:size=>"50"
	  %>
  </p>
  <p>
    <%= f.text_area :body,
			label: "Body",
      class: "tinymce",
      :rows => 25
	  %>
  </p>
  <%= link_to "Upload Images", new_artifact_path, target: :_blank %>
  <p>
    <%= build_created_at_field(f, action_name) %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
  <p>
    <%-# Only shows a "delete" button if the post already exists. -%>
    <%-# TODO: Move this "if" logic 👇 into a helper.-%>
    <% if @blog_post.id.blank? == false %>
      <%= link_to 'Delete Post',
                @blog_post,
                method: :delete,
                data: { confirm: 'Sounds dicey! You sure?' }
      %>
    <% end %>
  </p>  
<% end %>
<%= tinymce %>
