<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 20%" scope="col">Title</th>
      <th style="width: 14.29%" scope="col">Created At</th>
      <th style="width: 14.29%" scope="col">Updated At</th>
      <th style="width: 8.55%" scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @all_blog_posts.each do |f| %>
      <tr>
        <th scope="row"><%= f.title %></th>
        <td><%= f.created_at %></td>
        <td><%= f.updated_at %></td>
        <td class="blank_links"><a href ="<%= edit_blog_post_path(f.id) %>"><%= fa_icon "edit" %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
