<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Email Address</th>
      <th scope="col">Approved?</th>
      <th scope="col">Link Spotify User</th>
    </tr>
  </thead>
  <tbody>
    <% @all_users.each do |u| %>
      <tr>
        <td>
          <%= u.email %>
        </td>
        <td ajax-toggle-admin-approval="true">
          <%= link_to users_handle_admin_approval_path(id: u.id), remote: true, method: :patch do %>
            <input type="checkbox" user-id="<%= u.id %>" class="form-check-input" style="margin-left: 0px !important;" <%= handle_user_approved_checkbox(u.id) %>>
          <% end %>
        </td>
        <td>
          <%= link_to 'Initiate Spotify OAuth Handshake', '/auth/spotify' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Link to Register a New User", new_registration_path("user") %>
</p>
