<% if @film.id.blank? == true %>
  <div ajax-search-tmdb="true" class="form-group p-3 mb-2 text-white tmdb-container">
    <%= form_with url: films_tmdb_search_path do |f| %>
      <%= f.text_field :title, class: "form-control tmdb-search-field", placeholder: "Search TMDB..." %>
      <%= f.submit class: "btn btn-light tmdb-search-button" %>
    <% end %>
    <div class="tmdb-results-hidden">
    </div>
  </div>
<% end %>
<div class="<%= get_film_form_class(@film.id.blank?) %>" >
  <%= bootstrap_form_for(@film, label_errors: false) do |f| %>
    <p>
      <%= f.text_field :title,
        :required => true,
        :size=>"50"
    %>
    </p>
    <%= f.select :rating, 
        [5, 4, 3, 2, 1], 
        :required => true,
        :include_blank => true
    %>
    <%= f.url_field :url,
        label: "URL",
        :size=>"50",
        :required => true
    %>
    <%= f.date_field :created_at,
      required: true,
      value: smart_date_field_value(@film.consumed_on),
      max: Time.zone.today,
      label: "Date Consumed"
    %>
    <%= f.text_field :directors,
        :size=>"50",
        :required => true
    %>
    <%= f.number_field :release_year,
        label: "Release Year",
        min: 1900,
        max: Date.today.strftime("%Y"),
        :required => true
    %>
    <%= f.number_field :running_time,
        label: "Running Time",
        min: 25, max: 500,
        :required => true
    %>
    <p>
      <% if @film.id.blank? == false %>
        <%= link_to 'Delete Film',
                  @film,
                  method: :delete,
                  data: { confirm: 'Sounds dicey! You sure?' }
          %>
      <% end %>
    </p>
    <p>
      <%= f.submit "Save" %>
    </p>
  <% end %>
</div>
