<tr>
  <td>
    <%= link_to single_film.title, sanitize_link(single_film.url), target: "_blank" %><br>
  </td>
  <td>
    <%= single_film.directors %>
  </td>
  <td>
    <%= single_film.release_year %>
  </td>
  <td>
    <%= datetime_to_local(single_film.consumed_on,"%b %d, %Y") %>
  </td>
  <td>
    <% single_film.rating.times do %>
      <span style="color:#F06768"><%= fa_icon "star" %></span>
    <% end %>
  </td>
</tr>
