<div class="existing_parent existing_parent_show">
  <%= f.collection_select :podcast_id, 
    Podcast.all, :id, :title,  
    :include_blank => true,
    :label => "Podcast Series" %>
  <% if @podcast_episode.podcast.nil? == false %>
  <p>
    <%= link_to "Edit Podcast Series", 
      edit_podcast_path(@podcast_episode.podcast), 
      id: "podcast_edit_link", 
      target: "_blank" %>
  </p>
  <% end %>
</div>  
<p>
  <%= f.check_box :create_new_podcast_option, label: "Create new podcast series?" %>
</p>
<div class="new_parent new_parent_hide">
  <%= f.fields_for :podcast, Podcast.new do |podcast_attributes|%>
    <%= podcast_attributes.text_field :title, label: "New Podcast Series Title" %>
    <%= podcast_attributes.text_field :url, label: "New Podcast Series URL" %>
  <% end %>
</div>