<%= bootstrap_form_for(@podcast, label_errors: false) do |f| %>
  <%= f.text_field :title,
			:required => true,
			:size=>"50"
	%>
  <%= f.url_field :url,
			label: "URL",
			:size=>"50",
			:required => true
	%>
  <p>
    <% if @podcast.id.blank? == false && @episodes_count == 0 %>
      <%= link_to 'Delete Podcast Series',
                @podcast,
                method: :delete,
                data: { confirm: 'Sounds dicey! You sure?' }
        %>
    <% else %>
      <b>Tip:</b> This podcast series cannot be deleted because it has <%= @episodes_count %> logged episode(s).
    <% end %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>