<!DOCTYPE html>
<html>
  <head>
    <title>Filmnut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'layout_main', media: 'all' %>
    <%= stylesheet_link_tag 'prism', media: 'all' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "prism" %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="toprail"></div>
    <%= yield(:body) %>
  </body>
</html>
