<!DOCTYPE html>
<html>
  <head>
    <title>Filmnut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'layout_main', media: 'all' %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="prism.js"></script>
    <link rel="stylesheet" type="text/css" href="prism.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body class="main">
    <div id="toprail"></div>
    <div class="container" style="margin:45px 50px 10px 50px;">
      <div class="row" style="width: 1350px;">
        <div class="col-lg-8 main">
          <%= yield(:lead_head) %>
          <%= yield(:table_open) %>
          <%= yield(:lead_body) %>
          <%= yield(:table_close) %>
          <%= yield(:lead_tail) %>
        </div>
        <div style="width:50px;"></div>
        <div class="col-lg-3 sidebar">
          <div class="logo">
            <%= link_to "FILMNUT", root_path %>
          </div>
          <div class="sidebar-body">
            <%= yield(:sidebar) %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
