<div class="life_log_day_container">
  <div class="row">
    <div class="col-1">
      <a href="<%= extract_perm_link_url(single_day_in_life_log) %>">
        <figure>
          <header>
            <%= extract_month_label(single_day_in_life_log) %>
          </header>
          <section>
            <%= extract_day_label(single_day_in_life_log) %>
            <section class="day_of_week">
              <%= extract_day_of_week_label(single_day_in_life_log) %>
            </section>
          </section>
        </figure>
      </a>
    </div>
    <div class="col-10 log_column">
      <%= render partial: "single_life_log", collection: extract_life_logs_from_day(single_day_in_life_log) %>
    </div>
  </div>
</div>
<hr>
